/**** VARIABLES ****/
:root {
  --fw-bold: 500;
  --fw-bolder: 600;
  --fw-boldest: 700;

  --blue-color: #6c63ff;
  --red-color: #ff6584;
  --black-color: #2e293b;
  --white-color: #fff;
  --black-opacity: rgba(46, 41, 59, 0.6); // black with opacity
  --box-shadow: 0 0px 5px var(--black-opacity);
}

/**** MIXINS ****/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsiveForMedium {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin responsiveForSmall {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin responsiveForXSmall {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

/**** RESET ****/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include responsiveForMedium() {
    font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 1px;
}

section {
  padding: 6.5rem 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}
