/**** COMPONENTS ****/
.btn {
  display: inline-block;
  min-width: 15rem;
  padding: 1rem 3rem;
  position: relative;

  font-size: 1.5rem;
  text-align: center;

  transition: all 0.3s;

  &:hover {
    padding-right: 4rem;
    padding-left: 4rem;

    transform: translateY(-5px);
    box-shadow: 5px 5px 2px 0px var(--black-opacity);

    .btn__right-arr {
      right: 0;
      background: rgba(46, 41, 59, 0.1);
      opacity: 1;
    }
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: 2px 2px 2px 0px var(--black-opacity);
  }

  &__right-arr {
    position: absolute;
    right: 5%;
    top: 0;

    width: 15%;
    height: 100%;

    opacity: 0;
    transform-origin: left;
    transition: all 0.5s; // opacity - bg - right transition
    @include center;

    ion-icon {
      font-size: 2rem;
    }
  }

  &--white {
    color: var(--white-color);
    border-bottom: 5px solid currentColor;
  }

  &--blue {
    color: var(--blue-color);
    border-bottom: 5px solid currentColor;
  }

  &--red {
    color: var(--red-color);
    border-bottom: 5px solid currentColor;
  }

  &--fillred {
    color: var(--white-color);
    background: var(--red-color);
    border-radius: 5px;
    overflow: hidden;
  }

  &--fillblue {
    color: var(--white-color);
    background: var(--blue-color);
    border-radius: 5px;
    overflow: hidden;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 2.5rem;

  color: var(--blue-color);
  font-size: 4.6rem;
  font-weight: var(--fw-bolder);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section-description {
  color: var(--black-opacity);
  font-size: 1.75rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.pgbar {
  width: 70%;
  height: 20px;
  border: 1px solid var(--black-opacity);
  border-radius: 5px;

  &__percent {
    width: 0;
    height: 100%;

    background: var(--blue-color);
    transition: width 1s;
  }

  &.active &__percent {
    width: 50%;
  }
}

/* nav css*/
.navigation {
  position: fixed;
  top: 50%;
  left: 15px;
  z-index: 9;

  text-align: center;
  border-radius: 5px;

  transform: translate(-7rem, -50%);
  transition: transform 0.5s;

  &.active {
    transform: translate(0, -50%);
  }

  li {
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    background: #eee;
    transition: background 0.5s;

    a {
      height: 100%;
      line-height: 5.3rem;
      font-size: 2.5rem;
      color: var(--black-opacity);
      transition: color 0.5s;
    }

    p {
      position: absolute;
      z-index: -1;

      width: max-content;
      height: 5rem;
      padding-left: 5rem;
      padding-right: 2rem;
      border-radius: 3rem;
      line-height: 5rem;
      top: 0;

      font-size: 1.5rem;
      text-transform: uppercase;

      color: var(--white-color);
      background: var(--blue-color);
      transform: translateX(-1rem);
      opacity: 0;
      transition: all 0.5s;
    }

    &.active {
      background: var(--blue-color);
      a {
        color: var(--white-color);
      }
    }

    &:hover {
      background: var(--blue-color);
      p {
        transform: translateX(0.5rem);
        opacity: 1;
      }

      a {
        color: var(--white-color);
      }
    }
  }

  // responsive
  @include responsiveForMedium {
    display: none;
  }
}

.navigation--small {
  display: none;
  position: fixed;
  z-index: 9;
  padding: 1rem 0;
  width: 100%;

  box-shadow: var(--box-shadow);
  background: var(--white-color);
  ul {
    padding: 0 2rem;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100%;

    background: var(--white-color);
    transform: translateX(-100%);
    transition: transform 0.7s;

    &.active {
      transform: translateX(0);
    }

    li {
      border-bottom: 1px solid var(--black-opacity);

      &.active {
        a {
          color: var(--blue-color);
        }
      }

      a {
        line-height: 5.3rem;
        font-size: 3rem;
        color: var(--black-opacity);
      }

      span {
        text-transform: uppercase;
        font-size: 2rem;
        padding: 0 2rem;
      }

      ion-icon {
        vertical-align: middle;
      }
    }
  }

  &__btn {
    display: inline-block;
    width: 4rem;
    height: 3rem;
    margin-left: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    span {
      display: block;
      width: 85%;
      height: 2px;

      background: var(--black-opacity);
      transition: transform 0.3s;
    }

    &.opened {
      justify-content: center;

      span:nth-child(1) {
        display: none;
      }
      span:nth-child(2) {
        transform: translateY(2px) rotate(-225deg);
      }
      span:nth-child(3) {
        transform: rotate(225deg);
      }
    }
  }

  @include responsiveForMedium {
    display: block;
  }
}

/**** ANIMATIONS ****/

@keyframes moveUp {
  from {
    transform: translateY(5rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes moveUpSlow {
  to {
    transform: translateY(-18rem);
  }
}

@keyframes scaleUp {
  to {
    transform: scale(1.1);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-black);
  }
}
