/**** COMPONENTS ****/
.btn {
  display: inline-block;
  min-width: 15rem;
  padding: 1rem 3rem;
  position: relative;

  font-size: 1.5rem;
  text-align: center;

  transition: all 0.3s;

  &:hover {
    padding-right: 4rem;
    padding-left: 4rem;

    transform: translateY(-5px);
    box-shadow: 5px 5px 2px 0px var(--black-opacity);

    .btn__right-arr {
      right: 0;
      background: rgba(46, 41, 59, 0.1);
      opacity: 1;
    }
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: 2px 2px 2px 0px var(--black-opacity);
  }

  &__right-arr {
    position: absolute;
    right: 5%;
    top: 0;

    width: 15%;
    height: 100%;

    opacity: 0;
    transform-origin: left;
    transition: all 0.5s; // opacity - bg - right transition
    @include center;

    ion-icon {
      font-size: 2rem;
    }
  }

  &--blue {
    color: var(--blue-color);
    border-bottom: 5px solid currentColor;
  }

  &--red {
    color: var(--red-color);
    border-bottom: 5px solid currentColor;
  }

  &--fillred {
    color: var(--white-color);
    background: var(--red-color);
    border-radius: 5px;
    overflow: hidden;
  }

  &--fillblue {
    color: var(--white-color);
    background: var(--blue-color);
    border-radius: 5px;
    overflow: hidden;
  }
}

.section-heading {
  margin-bottom: 2.5rem;

  color: var(--blue-color);
  font-size: 4.6rem;
  font-weight: var(--fw-bolder);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section-description {
  color: var(--black-opacity);
  font-size: 1.75rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.pgbar {
  width: 70%;
  height: 20px;
  border: 1px solid var(--black-opacity);
  border-radius: 5px;

  &__percent {
    width: 0;
    height: 100%;

    background: var(--blue-color);
    transition: width 1s;
  }

  &.active &__percent {
    width: 50%;
  }
}

/* nav css*/
.navigation {
  position: fixed;
  top: 50%; // 15px + 17px scrolblar
  left: 15px;
  z-index: 9;

  text-align: center;
  border-radius: 5px;

  transform: translate(-13rem, -50%);
  transition: transform 0.5s;

  &.active {
    transform: translate(0, -50%);
  }

  li:first-child > a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  li:last-child > a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  a {
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.5rem;

    color: var(--white-color);
    background: linear-gradient(
      to right,
      var(--blue-color) 50%,
      var(--white-color) 50%
    );
    background-size: 200%;
    transition: background 1s, color 1s;
  }

  li.active > a {
    background-position: 100%;
    color: var(--blue-color);
  }

  &__btn {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 3rem;
    height: 3rem;
    padding: 0 5px;
    border-radius: 5px;

    position: absolute;
    right: -3.5rem;
    top: 50%;

    transform: translateY(-50%);
    background: var(--blue-color);

    span {
      display: block;
      width: 80%;
      height: 2px;
      margin: 0 auto;
      border-radius: 5px;

      background: var(--white-color);
      transition: transform 0.5s;
    }
  }

  &__btn.close {
    background: var(--red-color);
    display: block;

    span {
      position: absolute;
      top: 50%;
      left: 3px;
    }

    span:nth-of-type(1) {
      display: none;
    }

    span:nth-of-type(2) {
      transform: rotate(225deg);
    }

    span:nth-of-type(3) {
      transform: rotate(-225deg);
    }
  }
}

/**** ANIMATIONS ****/

@keyframes moveUp {
  from {
    transform: translateY(5rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes moveUpSlow {
  to {
    transform: translateY(-18rem);
  }
}

@keyframes scaleUp {
  to {
    transform: scale(1.1);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-black);
  }
}
